body {
  color: #000;
}




/* *****FORMATAÇÃO MENU***** */
.navbar.navbar-default.navbar-fixed-top{
  background: #22313F;
  border-bottom: 5px solid #CF000F;
}

.navbar-brand {
  font-family: century;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  float: left;
  letter-spacing: 1px;
  height: 50px;
  padding: 20px 15px;
}

.nav {
  margin-bottom: 0px;
}

.nav a {
  font: 500 11px Lato;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 20px 15px 20px 15px;
  text-transform: uppercase;
  position: relative;
  z-index: 1000;
  color: #FFF;
}

.nav a:hover {
  background-color:#FFFFFF;
  color: #000000;
}

.nav li {
  position: relative;
}

.active{
	background-color: #2C3E50;
	color: #FFF;
}

table > tbody > td > a:visited{
  color: #FF0;
}

.navbar-collapse {
  box-shadow: none;
  border: none;
}

.hover {
  display: block;
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #EE445F;
  z-index: 0;
  opacity: 0;
}
/* *****FORMATAÇÃO ARTICLE***** */

.corpo{
  margin:0 50px 0 50px;
}


/* *****FORMATAÇÃO SECTION***** */

#conteudo {
  width: 80%;
	background-color: #FFF;
	margin: 35px auto 0 auto;
	padding: 0px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  margin-bottom: 30px;
  margin-left: 500;
}

/* *****FORMATAÇÃO FOOTER***** */

footer {
	border-top: 5px solid #CF000F;
 	padding: 0;
 	text-align: center;
 	background-color: #22313F;
 	color:#fff;
 	font-size:12px;

}

.foto{
  width: 90%;
}

/*Codigo Andressa*/

.epaco{
  margin-top: 45px;
  padding-top: 50%;
  background-color: blue;
}

.tam{
    max-width:150px;
    max-height:120px;
}

.tam2{
    max-width:200px;
    max-height:200px;
}


.atencao{
    color:green;
}

figure, framework{
  font-style: italic;
  text-indent: 0;
  margin-left:1%;
  float: left;
  
}

.LinguagemdeProg, .framework{
  display: block;
  height: 100px;
  width: 850px;
}



/***Formataçaõ da tabela***/

th{
  padding: 0px  15px  0px 15px;
  border: 1px solid #000;
}
td{
  padding:5px;
}
tr, td{
  border: 1px solid #000;
}

table{
  margin-left: 0%;
  border-radius: 20px;
}

/*MODAL DA TABELA*/

body { 
	width: 100%;
	height: 100%;
}

.modal-bg {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  padding-top: 3%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
}

.modal-bg > .modal-wrapper {
  width: 60%;
  height: 80%;
  position: relative;
  margin: 0px auto;
  
}

  .modal-wrapper .modal-body{
  overflow-y: auto;
}

.modal-wrapper h2{
  margin: 10px;
  padding-left: 10px;
  color: #FFF;
    
}
.modal-header{
  margin: 0px;
  margin-bottom: 0px;
  height: 60px;
  background-color: #22313F;
  border-bottom: 5px solid #CF000F;
}

.modal-header_close {
  float: right;
  cursor: pointer;
  margin-top: 10px;
  padding-right: 10px;
}

.modal-body{
  height:500px;
  clear: both;
  text-align: center;
  background: #fff;
  margin: 0px;
  padding: 0px;
  
}

.modal-title{
   float: left;
}

.modal-footer{
  margin: 0px;
  padding:10px;
  text-align: center;
  background-color: #22313F;
  border-top: 5px solid #CF000F;
  height: 50px;
}

.fa.fa-times{
  font-size: 20px;
  color: #FFF;
  
}

nav{
  position:relative;
  margin-top:0px;
}

#section {
  margin-top:400px;
}
